<html>
  <body>
    <h1><%= title%></h1>
    <% messages.forEach((msg)=> { %>

    <span><h1><%= msg.username %></h1></span>
    <span><%= msg.id %></span>
    <p><%= msg.message %></p>
    <p><%= msg.created_at %></p>
    <%})%>

    <br /><br />
    <div>
      <a href="/new">Add a new Message</a>
    </div>
  </body>
</html>
